body {
  background-color: royalblue;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.cardDeck {
}

.flashCard {
  background-color: white;
  width: 400px;
  height: 300px;
  border-radius: 10%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px;
}

.cardTerm {
  font-size: 300%;
}
